
body{
    font-family: 'Quicksand', sans-serif;
    font-size:10px;
}


/* header */
.container-fluid{
    background-color: #EF6461;
    background-size: cover;
    height:90px;
}
 .header h1{
    font-size: 40px;
    margin-top:-20px;
    padding:3px;
    font-weight: bold;
 }

h3 {
    font-size: 20px;
   margin-left:8px;
}

h2{
    margin-left: 50px;
}


.search{
    margin-top: 0px;
    margin-left:25px;
    border-width: 1px;
   
}
/* card task list */
.card-header{
    background-color: #edae49;
    margin:10px;
}


 /* Modal */
 .modal-content{
    background-color: #EF6461;
    align-items: center;
 }

 .form-group{
    color: #000000;
    align-content: space-between;
 }

 .form-group1{
    
    float: right;
    width:700px;
 }
 /* columns */


/* card catagory starts here */
.card{
    margin-top:20px;
    border: none;
    text-align: center;
}

.task1-container {
    justify-content: center;
}