
body{
    font-family: 'Quicksand', sans-serif;
    font-size:10px;
}


/* header */
.container-fluid{
    background-color:#EF6461;
    background-size: cover;
    height:100px;
}
 .header h1{
    font-size: 40px;
    margin-top:-40px;
    padding:3px;
    font-weight: bold;
 }

h3 {
    font-size: 20px;
   margin-left:8px;
}
.search{
    margin-top: -5px;
    margin-left:25px;
    border-width: 1px;
}
/* card task list */
.card-header{
    background-color: #edae49;
}


 /* Modal */
 .modal-content{
    background-color: #80a8e0;
    margin-right: 50px;
 }

 .form-group{
    color: #000000;
    
 }

 .form-group1{
    
    float: right;
    width:700px;
 }
 /* columns */


/* card catagory starts here */
.card{
    margin-top:20px;
}
