
body{
    font-family: 'Quicksand', sans-serif;
    font-size:10px;
}


/* header */
.container-fluid{
    background-color:#EF6461;
    background-size: cover;
    height:90px;
}
 .header h1{
    font-size: 40px;
 }
